<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.AgencyClassVoteMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.AgencyClassVote" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_class_id" property="agencyClassId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_secret" property="isSecret" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_agency_class_vote
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.AgencyClassVote" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_agency_class_vote (agency_class_id, user_id, title, 
      deadline, type, is_secret, 
      state, updated_time, created_time
      )
    values (#{agencyClassId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{deadline,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, #{isSecret,jdbcType=INTEGER},
      #{state,jdbcType=BIT}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.AgencyClassVote" >
    update pq_agency_class_vote
    set agency_class_id = #{agencyClassId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      is_secret = #{isSecret,jdbcType=INTEGER},
      state = #{state,jdbcType=BIT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, agency_class_id, user_id, title, deadline, type, is_secret, state, updated_time, 
    created_time
    from pq_agency_class_vote
    where id = #{id,jdbcType=BIGINT}
    and state = 1
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, agency_class_id, user_id, title, deadline, type, is_secret, state, updated_time, 
    created_time
    from pq_agency_class_vote
  </select>
  <select id="selectByClassId" resultMap="BaseResultMap" >
    select id, agency_class_id, user_id, title, deadline, type, is_secret, state, updated_time,
    created_time
    from pq_agency_class_vote
    where state = 1
    and agency_class_id = #{agencyClassId}
    order by created_time desc
    limit #{offset},#{size}
  </select>
</mapper>