<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.AgencyClassInvitationCodeMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.AgencyClassInvitationCode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_class_id" property="agencyClassId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_agency_class_invitation_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.AgencyClassInvitationCode" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_agency_class_invitation_code (agency_class_id, name, code, 
      state, updated_time, created_time
      )
    values (#{agencyClassId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIT}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.AgencyClassInvitationCode" >
    update pq_agency_class_invitation_code
    set agency_class_id = #{agencyClassId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, agency_class_id, name, code, state, updated_time, created_time
    from pq_agency_class_invitation_code
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, agency_class_id, name, code, state, updated_time, created_time
    from pq_agency_class_invitation_code
  </select>
  <select id="selectByAgencyClassId" resultMap="BaseResultMap" >
    select id, agency_class_id, name, code, state, updated_time, created_time
    from pq_agency_class_invitation_code
    and agency_class_id = #{agencyClassId}
    and state = 1
  </select>

  <select id="selectByCode" resultMap="BaseResultMap" >
    select id, agency_class_id, name, code, state, updated_time, created_time
    from pq_agency_class_invitation_code
    where  code = #{code}
    and state = 1
  </select>
</mapper>