<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.AgencyUserMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.AgencyUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_class_id" property="agencyClassId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="is_head" property="isHead" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_agency_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.AgencyUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_agency_user (agency_class_id, user_id, role, 
      state, updated_time, created_time,is_head
      )
    values (#{agencyClassId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, 
      #{state,jdbcType=BIT}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP},
    #{isHead}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.AgencyUser" >
    update pq_agency_user
    set agency_class_id = #{agencyClassId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      is_head = #{isHead},
      state = #{state,jdbcType=BIT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, agency_class_id, user_id, role, state, updated_time, created_time, is_head
    from pq_agency_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, agency_class_id, user_id, role, state, updated_time, created_time, is_head
    from pq_agency_user
  </select>

  <select id="selectClassIdByUserId" resultType="java.lang.Long" >
    select  agency_class_id
    from pq_agency_user
    where user_id = #{userId}
    and state = 1
  </select>

  <select id="selectByUserAndClassId" resultMap="BaseResultMap" >
    select  id, agency_class_id, user_id, role, state, updated_time, created_time,is_head
    from pq_agency_user
    where user_id = #{userId}
    <if test="agencyClassId!=null and agencyClassId!='' ">
      and agency_class_id = #{agencyClassId}
    </if>
    and state = 1
  </select>

  <select id="selectCountByClassIdAndRole" resultType="java.lang.Integer" >
    select  count(id)
    from pq_agency_user
    where agency_class_id = #{agencyClassId}
    and role = #{role}
    and state = 1
  </select>

  <select id="selectByClassIdAndRole" resultMap="BaseResultMap">
    select  id, agency_class_id, user_id, role, state, updated_time, created_time, is_head
    from pq_agency_user
    where agency_class_id = #{agencyClassId}
    and role = #{role}
    and state = 1
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select  id, agency_class_id, user_id, role, state, updated_time, created_time, is_head
    from pq_agency_user
    where user_id = #{userId}
    and state = 1
  </select>
</mapper>