<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.AgencyStudentMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.AgencyStudent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_class_id" property="agencyClassId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_agency_student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.AgencyStudent" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_agency_student (agency_class_id, name, sex, 
      avatar, state, updated_time, 
      created_time)
    values (#{agencyClassId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, 
      #{avatar,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.AgencyStudent" >
    update pq_agency_student
    set agency_class_id = #{agencyClassId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      avatar = #{avatar,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, agency_class_id, name, sex, avatar, state, updated_time, created_time
    from pq_agency_student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, agency_class_id, name, sex, avatar, state, updated_time, created_time
    from pq_agency_student
  </select>

  <select id="selectByAgencyClassIdAndId" resultMap="BaseResultMap" >
    select id, agency_class_id, name, sex, avatar, state, updated_time, created_time
    from pq_agency_student
    where agency_class_id =#{agencyClassId}
    and id = #{id}
    and state = 1
  </select>

  <select id="selectByAgencyClassIdAndName" resultMap="BaseResultMap" >
    select id, agency_class_id, name, sex, avatar, state, updated_time, created_time
    from pq_agency_student
    where agency_class_id =#{agencyClassId}
    and name = #{name}
    and state = 1
  </select>
</mapper>