<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.AgencyGroupMemberMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.AgencyGroupMember" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_head" property="isHead" jdbcType="INTEGER" />
    <result column="disturb_status" property="disturbStatus" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_agency_group_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.AgencyGroupMember" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_agency_group_member (group_id, student_id, user_id, 
      state, updated_time, created_time,disturb_status, is_head
      )
    values (#{groupId,jdbcType=BIGINT}, #{studentId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIT}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP},
    #{disturbStatus},#{isHead}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.AgencyGroupMember" >
    update pq_agency_group_member
    set group_id = #{groupId,jdbcType=BIGINT},
      student_id = #{studentId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      disturb_status = #{disturbStatus},
      is_head = #{isHead},
      state = #{state,jdbcType=BIT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, group_id, student_id, user_id, state, updated_time, created_time,disturb_status,is_head
    from pq_agency_group_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, group_id, student_id, user_id, state, updated_time, created_time,disturb_status,is_head
    from pq_agency_group_member
  </select>

  <select id="selectCountByGroupId" resultType="java.lang.Integer" >
    select count(id)
    from pq_agency_group_member
    where group_id = #{groupId}
    and state = 1
  </select>

  <select id="selectByGroupId" resultMap="BaseResultMap" >
    select id, group_id, student_id, user_id, state, updated_time, created_time,disturb_status,is_head
    from pq_agency_group_member
    where group_id = #{groupId}
    and state = 1
  </select>

  <select id="selectByStudentIdOrUserId" resultMap="BaseResultMap" >
    select  m.*
    from pq_agency_group_member m,pq_agency_group g
    where m.state = 1
    <if test="studentId==null">
      and m.user_id= #{userId}
    </if>
    <if test="studentId!=null">
      and m.student_id = #{studentId}
    </if>
    and g.id = m.group_id

    order by g.class_id desc,g.created_time asc

  </select>

  <select id="selectByGroupIdAndStudentOrUserId" resultMap="BaseResultMap" >
    select id, group_id, student_id, user_id, state, updated_time,created_time,disturb_status,is_head
    from pq_agency_group_member
    where
    group_id = #{groupId}
    <if test="studentId==null">
      and user_id= #{userId}
    </if>
    <if test="studentId!=null">
      and student_id = #{studentId}
    </if>
    and state = 1
  </select>

  <select id="selectDisturbByStudentIdOrUserId" resultMap="BaseResultMap" >
    select id, group_id, student_id, user_id, state, updated_time, created_time,disturb_status,is_head
    from pq_agency_group_member
    where state = 1
    <if test="studentId==null">
      and user_id= #{userId}
    </if>
    <if test="studentId!=null">
      and student_id = #{studentId}
    </if>
    and disturb_status = 2

  </select>
</mapper>