<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.ClassVoteOptionMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.ClassVoteOption" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vote_id" property="voteId" jdbcType="BIGINT" />
    <result column="item" property="item" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_class_vote_option
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.ClassVoteOption" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_class_vote_option (vote_id, item, state, 
      created_time, updated_time)
    values (#{voteId,jdbcType=BIGINT}, #{item,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.ClassVoteOption" >
    update pq_class_vote_option
    set vote_id = #{voteId,jdbcType=BIGINT},
      item = #{item,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, vote_id, item, state, created_time, updated_time
    from pq_class_vote_option
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, vote_id, item, state, created_time, updated_time
    from pq_class_vote_option
  </select>

  <select id="selectByVoteId" resultMap="BaseResultMap" >
    select id, vote_id, item, state, created_time, updated_time
    from pq_class_vote_option
    where state = 1
    and vote_id = #{voteId}
    order by created_time asc
  </select>
</mapper>