<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.agency.mapper.UserCourseMapper" >
  <resultMap id="BaseResultMap" type="com.pq.agency.entity.UserCourse" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="class_course_id" property="classCourseId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_user_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.agency.entity.UserCourse" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_user_course (class_course_id, user_id, state, 
      updated_time, created_time)
    values (#{classCourseId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.agency.entity.UserCourse" >
    update pq_user_course
    set class_course_id = #{classCourseId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, class_course_id, user_id, state, updated_time, created_time
    from pq_user_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, class_course_id, user_id, state, updated_time, created_time
    from pq_user_course
  </select>
</mapper>